body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #24145E;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation {
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes shrinkAndGrow {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes shrinkAndGrow2 {
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(0.7);
    }
    65%{
        transform: scale(0);
    }
    100%{
        transform: scale(0);
    }
}

@keyframes expandHorizontal {
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

@keyframes apperFromBottom {
    from{
        transform: translateY(1000px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes shakingUpAndDown {
    from{
        transform: translateY(0);
    }
    25%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
    75%{
        transform: translateY(5px);
    }
    to{
        transform: translateY();
    }    
}

@keyframes soaking {
    to{
        transform: translateY(-250px) scale(0);
    }
}

@keyframes shrinkHorizontal {
    to{
        transform: scaleX(0);
    }
    
}

/* 행성 */
#planet_2{
    animation: rotation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-box: fill-box ;
    transform-origin: center ;
}

#planet_1{
    animation: rotation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

/* 별 */
#star_6{
    animation: shrinkAndGrow2 4s infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

#star_8{
    animation: shrinkAndGrow2 9s infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

#star_5{
    animation: shrinkAndGrow2 10s infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

#star_4{
    animation: shrinkAndGrow 5s infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

#star_3{
    animation: shrinkAndGrow 3s infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

#star_2{
    animation: shrinkAndGrow 2s infinite;
    transform-box: fill-box ;
    transform-origin: center ;
}

/* UFO Beam */
#UFO-beam{
    animation: expandHorizontal 2s;
    transform-box: fill-box ;
    transform-origin: center ;
}

/* 404의 0 */
#number-0{
    animation: apperFromBottom 2s;
}

/* 외계인 손 */
#alien_hand-R, #alien_hand-L{
    animation: shakingUpAndDown 3s infinite;
    animation-timing-function: cubic-bezier(0,2.13,1,.54);
}

#number-0-soaking{
    animation: soaking 2s;
    animation-timing-function: cubic-bezier(.62,1.44,.84,.28);
    transform-box: fill-box ;
    transform-origin: center ;
}

#UFO-beam-disappering{
    animation: shrinkHorizontal 3s;
    transform-box: fill-box ;
    transform-origin: center ;
}